/* FONTS */
/* font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
weight: 300 400 600 */



:root {
    --white: #fff;
    --dark-green: #0E5E6F;
    --light-green: #3A8891;
    --light-creamy: #FFEFD6;
    --dark-creamy: #F2DEBA;


    --light-blue: #bbdaf7;
    --creamy: #f8f2ed;
    --main: #f0f5f9;
}

body {
    background-color: var(--light-blue);
}

/* section_header */
nav {
    display: flex;
    align-items: center;
    justify-content: end;


    width: 100%;
    height: 4vw;
    background-color:rgb(113, 214, 13)
}

nav a {
    font-size: 3rem;
}
.nav_menu {
    display: flex;
    justify-content: space-between;

    width: 37%;
    margin: 0 6rem;
}

.menu_icon {
    width: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    z-index: 99;

}
.section_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header_img {
    position: absolute;
    top: 0;
}
.header_box {
    background-color: var(--creamy);
    width: 90vw;
    height: 40vw;
    margin-bottom: 30vh;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

/* section_body */
.section_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--creamy);
    width: 90vw;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.news {
    margin-bottom: 3vh;
    margin: 1.5rem;
}
@media screen and (max-width: 540px) {
    nav {
        display: none;
        
    }
}
@media screen and (min-width: 540px) and (max-width:1197px) {
    .section_header {
        margin-bottom: 20vw;
    }

    .header_box {
        width: 100%;
    }
    
}

@media screen and (min-width: 1197px) {
    .header_box {
        width: 100%;
   
    }
    .body_main {
        width: 100%;
    }
}